/* =============== CSS COMMON START ====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* =============== CSS COMMON END ======================*/

.btn button{
    transition: 0.02s cubic-bezier(.8,1.4,1,1.03);
}